<!DOCTYPE html>
<html ng-app="upvote">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <script src="../../../scripts/buildfire.min.js"></script>
    <script src="../../../scripts/angular/angular.min.js"></script>
    <!-- build:bundleJSFiles  -->
    <script src="js/app.js"></script>
    <!-- endbuild -->


    <!-- build:bundleCSSFiles  -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/pluginIcons.css">
    <!-- endbuild -->

    <script src="../../../scripts/buildfire/services/notifications/pushNotifications.js"></script>
    <script src="../../../scripts/tinymce/tinymce.min.js"></script>
    <script src="../../../scripts/tinymce/ui-tinymce.js"></script>

</head>

<body style="position: initial !important;">
    <div id="btn--add__container"  onclick="openPopup()">
        <a class="btn btn-primary btn--fab btn--add"><span></span></a>
    </div>
    <div class="main--container">
        <div ng-controller="suggestionBoxCtrl" ng-cloak="">
            <div class="container--responsive padded padded--x">
                <h3 class="padded margin--0 padded--y">Suggestions</h3>
                <p id="text_container" class="margin-bottom--sm text--secondary word--break" ng-bind-html="text">{{text}}</p>
            </div>

            <div class="overlay" ng-show="popupOn" ng-click="closeForm()"></div>

            <div class="suggestionBox popup" ng-show="popupOn">
                <form name="suggestionForm" class="form-main" novalidate>
                    <div class="card backgroundColorTheme">
                        <div class="padded">
                            <div class="textfield">
                                <input class="no-margin-bottom" type="text" placeholder="Title" ng-model="suggestionTitle"
                                    maxlength="64"
                                    name="suggestionTitle" required>
                                <span class="text-danger caption" name="titleErr"
                                    ng-show="suggestionForm.suggestionTitle.$touched && suggestionForm.suggestionTitle.$invalid">Title
                                    is required
                                </span>
                            </div>
                            <div class="textfield">
                                <textarea class="margin--0 no-margin-bottom" rows="5" placeholder="Add your suggestion here"
                                    ng-model="suggestionText" maxlength="200" name="suggestionText" required></textarea>
                                <span class="text-danger caption" name="textErr"
                                    ng-show="suggestionForm.suggestionText.$touched && suggestionForm.suggestionText.$invalid">Text
                                    is required
                                </span>
                            </div>
                        </div>
                        <div class="button__panel padded padded--sm padded--x">
                            <button class="btn btn--transparent" ng-click="clearForm()">
                                <span class="text--secondary">Cancel</span>
                            </button>
                            <button class="btn btn--transparent" ng-click="addSuggestion()">
                                <span class="text-primary">Submit</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div ng-controller="listCtrl" class="padded padded--x container--responsive">

            <div class="card suggestionCard" ng-cloak ng-repeat="s in suggestions track by $index">
                <div class="card__header padded padded--sm margin-bottom--sm">
                    <img class="avatar" onerror="this.src='avatar.png'" ng-src="{{ s.data.createdBy | getUserImage }}">
                    <div class="ellipsis padded padded--x padded--sm suggestion__name">
                        <h5 class="margin--0 ellipsis">{{s.data.createdBy.displayName}}</h5>
                        <h6 class="pull-left caption margin--0 text--secondary">
													{{s.data.createdOn | date:'MMM dd'}}
													<h6 class="pull-left caption margin--0 text--secondary" ng-if="!s.isCurrentYear">, {{s.data.createdOn | date:'y'}}</h6>
												</h6>
                        
                    </div>
                    <p class="pill text--secondary shrink--0" ng-click="toggleVotes(s)">
                        <span class="margin--0">{{s.data.upVoteCount}} Vote</span>
                        <span class="margin--0" ng-show="s.data.upVoteCount>1">s</span>
                    </p>
                </div>
                <div class="suggestion padded padded--m padded--x">
                    <h4 class="word--break" ng-show="s.data.title">{{s.data.title}}</h4>
                    <p class="word--break margin-bottom--m">{{s.data.suggestion}}</p>
                </div>
                <div class="button__panel shrink--0 padded padded--sm padded--x">
                    <button class="voteButton btn btn--icon--text btn--transparent" ng-click="upVote(s)"
                        ng-class="{btnShadow:!s.disableUpvote,btntransparent:s.disableUpvote}">
                        <span class="icon icon-thumbs-up2"></span>
                        <span class="text-primary margin--0">Vote</span>
                    </button>
                    <button class="voteButton btn btn--icon--text btn--transparent" ng-click="goSocial(s)"
                        ng-show="hasSocial">
                        <span class="icon icon-bubble"></span>
                        <span class="text-primary margin--0">Comment</span>
                    </button>
                </div>
                <p class="name-list text--secondary ellipsis">
                    <span class="text--secondary ellipsis" ng-repeat="u in s.voters">{{u.displayName}}</span>
                </p>
            </div>
        </div>
    </div>
</body>

</html>