<!DOCTYPE html>
<html ng-app="upvote">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="buildfire" content="enablePluginJsonLoad">

    <link rel="stylesheet" href="../../../styles/components/skeleton.css" />

    <script src="../../../scripts/jquery/jquery-1.11.2.min.js"></script>

    <script src="../../../scripts/buildfire.min.js"></script>
    <script src="../../../scripts/angular/angular.min.js"></script>
    <script src="../../../scripts/buildfire/services/notifications/pushNotifications.js"></script>
    <script src="../../../scripts/buildfire/components/drawer/drawer.js"></script>

    <!-- build:bundleJSFiles  -->
    <script src="app.js"></script>
    <script src="app.services.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/suggestions.js"></script>
    <script src="assets/js/analyticsKeys.js"></script>
    <script src="assets/js/Analytics.js"></script>
    <script src="assets/js/PushNotifications.js"></script>
    <script src="controllers/widget.home.controller.js"></script>
    <script src="controllers/widget.item.controller.js"></script>
    <!-- endbuild -->

    <link rel="stylesheet" href="../../../styles/transitionAnimation.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet" href="./assets/css/pluginIcons.css">
    <link rel="stylesheet" href="./assets/css/animations.css">

    <style>
        /* keep compatibility with layout1 v0.1 */
        html p,html span,html a, html .paragraph {
            margin-bottom: 0;
        }
    </style>
</head>
<style>
    .grid-block {
        height: 200px;
        margin: 12px;
        border-radius: 5px;
    }
</style>
    <body>
        <div style="position: initial !important;height:100%"  ng-controller="listCtrl as _listCtrl">
            <div id="btn--add__container" class="hidden" onclick="openPopup()">
                <a class="btn btn-primary btn--fab btn--add"><span></span></a>
            </div>
            <div class="main--container">
                <div  class="container--responsive">
                    <div class="container--responsive padded padded--x" ng-if="_listCtrl.text">
                        <p id="text_container" class="margin-bottom--sm word--break" ng-bind-html="safeHtml(_listCtrl.text)">{{_listCtrl.text}}</p>
                    </div>
            <div id="skeleton"></div>

                    <div class="card suggestionCard" ng-cloak ng-repeat="s in suggestions track by $index" ng-click="_listCtrl.goToItemDetails(s)">
                        <div class="card__header padded padded-l margin-bottom--sm" >
                            <img alt="{{s.createdBy.displayName}} profile image"  class="avatar" 
                            onerror="this.src='assets/images/avatar.png'"
                            src="{{s.imgUrl}}">
                            <div class="ellipsis padded padded--x padded--sm suggestion__name">
                                <p class="margin--0 ellipsis header-text">{{s._displayName}}</p>
                                <h6 ng-if="s._createdOn" class="pull-left caption margin--0 text--secondary">{{s._createdOn}}</h6>
                                <h6 ng-if="!s._createdOn" class="pull-left caption margin--0 text--secondary">{{s.createdOn | date:'MMM dd, y'}}</h6>
                            </div>
        
                            <p ng-if="s.status == 1" class="pill shrink--0 pill-body-theme"  ng-click="openChangeStatusModal(s)">
                                <span class="margin--0" >{{s.statusName}}</span>
                            </p>
                            <p ng-if="s.status == 2" class="pill shrink--0 pill-warning-theme" ng-click="openChangeStatusModal(s)">
                                <span class="margin--0" style="color:white !important">{{s.statusName}}</span>
                            </p>
                            <p ng-if="s.status == 3" class="pill shrink--0 pill-success-theme" ng-click="openChangeStatusModal(s)">
                                <span class="margin--0" style="color:white !important">{{s.statusName}}</span>
                            </p>
                        </div>
                        <div class="suggestion">
                            <h4 class="word--break body-text font-weight-500" ng-show="s.title">{{s.title}}</h4>
                            <p class="word--break margin-bottom--m body-text" ng-bind-html="safeHtml(s.suggestion)">{{s.suggestion}}</p>
                        </div>
                        <div class="button__panel shrink--0 padded padded--sm padded--x padding-right-zero">
                            <button ng-if="settings && settings.enableComments" class="voteButton btn btn--icon--text " ng-click="goSocial(s)">
                                <span id="comment-icon" class="material-icons-outlined">
                                    mode_comment
                                    </span>
                                <span id="comment-message" class="margin--0"  bfString="mainScreen.commentButton"></span>
                            </button>
                            <button ng-if="s.status != 3" id="upvote_icon" class="voteButton btn btn--icon--text ml-24" ng-click="upVote(s)"
                            >
                                <span ng-if="!s.upvoteByYou" id="unactive-arrow" class="material-icons "
                                >arrow_upward</span>
                                <span ng-if="s.upvoteByYou" id="active-arrow" class="material-icons"
                                >arrow_upward</span>
                            </button>
                            <p class="pill-count shrink--0" ng-click="showVoterModal(s)">
                                <span class="margin--0 body-text">{{s.upVoteCount}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="empty-state-holder" ng-if="_listCtrl.isInitalized && !suggestions.length" >
                        <img alt="empty state holder" src="./assets/images/empty.svg"></img>
                    </div> 
                    
                </div>
            </div>
        
        </div>
        <div view-switcher=""></div>
        </body>
</html>
