
<div ng-controller="WidgetItemCtrl as WidgetItem" class="container--responsive animated fadeInRight" >
    <div  class="suggestionCard" >
        <div class="card__header padded padded-l margin-bottom--sm">
            <img alt="{{selectedSuggestion.createdBy.displayName}} profile image"  class="avatar"
             onerror="this.src='assets/images/avatar.png'" ng-src="{{selectedSuggestion.imgUrl}}">
            <div class="ellipsis padded padded--x padded--sm suggestion__name">
                <p class="margin--0 ellipsis header-text">{{selectedSuggestion._displayName}}</p>
                <h6 ng-if="selectedSuggestion._createdOn" class="pull-left caption margin--0 text--secondary">{{selectedSuggestion._createdOn}}</h6>
                <h6 ng-if="!selectedSuggestion._createdOn" class="pull-left caption margin--0 text--secondary">{{selectedSuggestion.createdOn | date:'MMM dd, y'}}</h6>
            </div>
    
            <p ng-if="selectedSuggestion.status == 1" class="pill shrink--0 pill-body-theme"  ng-click="openChangeStatusModal(selectedSuggestion)">
                <span class="margin--0">{{selectedSuggestion.statusName}}</span>
            </p>
            <p ng-if="selectedSuggestion.status == 2" class="pill shrink--0 pill-warning-theme" ng-click="openChangeStatusModal(selectedSuggestion)">
                <span class="margin--0" style="color:white !important">{{selectedSuggestion.statusName}}</span>
            </p>
            <p ng-if="selectedSuggestion.status == 3" class="pill shrink--0 pill-success-theme" ng-click="openChangeStatusModal(selectedSuggestion)">
                <span class="margin--0" style="color:white !important">{{selectedSuggestion.statusName}}</span>
            </p>
        </div>
        <div class="padded padded--m padded--x">
            <h4 class="body-text font-weight-500" ng-show="selectedSuggestion.title">{{selectedSuggestion.title}}</h4>
            <p class="margin-bottom--m body-text" ng-bind-html="safeHtml(selectedSuggestion.suggestion)">{{selectedSuggestion.suggestion}}</p>
        </div>
        <div class="button__panel shrink--0 padded padded--sm padded--x">
            <button ng-if="settings && settings.enableComments" class="voteButton btn btn--icon--text " ng-click="goSocial(selectedSuggestion)">
                <span id="comment-icon" class="material-icons-outlined">mode_comment</span>
                <span id="comment-message" class="margin--0"  bfString="mainScreen.commentButton"></span>
            </button>
            <button ng-if="s.status != 3" id="upvote_icon" class="voteButton btn btn--icon--text ml-24" ng-click="upVote(selectedSuggestion)"
            >
                <span ng-if="!selectedSuggestion.upvoteByYou" id="unactive-arrow" class="material-icons " 
                >arrow_upward</span>
                <span ng-if="selectedSuggestion.upvoteByYou" id="active-arrow" class="material-icons" 
                >arrow_upward</span>
            </button>
            <p class="pill-count shrink--0" ng-click="showVoterModal(selectedSuggestion)">
                <span class="margin--0 body-text">{{selectedSuggestion.upVoteCount}}</span>
            </p>
        </div>
    </div>
</div>
