
<div ng-controller="WidgetItemCtrl as WidgetItem" class="container--responsive">
    <div  class="suggestionCard" >
        <div class="card__header padded padded--sm margin-bottom--sm" ng-click="goToItemDetails(selectedSuggestion)">
            <img alt="{{selectedSuggestion.createdBy.displayName}} profile image"  class="avatar" onerror="this.src='assets/images/avatar.png'" ng-src="{{ selectedSuggestion.createdBy | getUserImage }}">
            <div class="ellipsis padded padded--x padded--sm suggestion__name">
                <h5 class="margin--0 ellipsis">{{selectedSuggestion.createdBy.displayName}}</h5>
                <h6 ng-if="selectedSuggestion.isCurrentYear" class="pull-left caption margin--0 text--secondary">{{selectedSuggestion.createdOn | date:'MMM dd'}}</h6>
                <h6 ng-if="!selectedSuggestion.isCurrentYear" class="pull-left caption margin--0 text--secondary">{{selectedSuggestion.createdOn | date:'MMM dd, y'}}</h6>
            </div>
    
            <p ng-if="selectedSuggestion.status == 1" class="pill shrink--0 pill-body-theme"  ng-click="openChangeStatusModal(selectedSuggestion)">
                <span class="margin--0" bfString="mainScreen.backlog"></span>
            </p>
            <p ng-if="selectedSuggestion.status == 2" class="pill shrink--0 pill-warning-theme" ng-click="openChangeStatusModal(selectedSuggestion)">
                <span class="margin--0" bfString="mainScreen.inProgress"></span>
            </p>
            <p ng-if="selectedSuggestion.status == 3" class="pill shrink--0 pill-success-theme" ng-click="openChangeStatusModal(selectedSuggestion)">
                <span class="margin--0" bfString="mainScreen.completed"></span>
            </p>
        </div>
        <div class="padded padded--m padded--x">
            <h4  ng-show="selectedSuggestion.title">{{selectedSuggestion.title}}</h4>
            <p class="margin-bottom--m">{{selectedSuggestion.suggestion}}</p>
        </div>
        <div class="button__panel shrink--0 padded padded--sm padded--x">
            <button class="voteButton btn btn--icon--text " ng-click="goSocial(selectedSuggestion)">
                <span class="material-icons body-theme">comment</span>
                <span class="text-body margin--0"  bfString="mainScreen.commentButton"></span>
            </button>
            <button class="voteButton btn btn--icon--text ml-8" ng-click="upVote(selectedSuggestion)"
            ng-class="{bodyTheme:!selectedSuggestion.upvoteByYou,iconsTheme:selectedSuggestion.upvoteByYou}">
                <span class="material-icons"
                >arrow_upward</span>
            </button>
            
        </div>
    </div>
</div>
