/*///////////////////////////////// Global Styles ///////////////////////////////// */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px !important;
}
body{
  font-family: 'Conv_apercu_regular','Helvetica','Sans-Serif','Arial';
}
/* Text  */
p{
  font-size: .875rem;
  line-height: 1.5em;
}
h4, h5, h6{
  margin-bottom: .5em;
}
.title{
  font-size: 1.125rem;
  font-weight: bold;
  color: #000;
  padding-top: .875rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}
.title::before{
  display: block;
  content: '';
  height: .25rem;
  width: 3.5rem;
  margin-bottom: .875rem;
  background-color: #000;
}
.text--secondary{
  color: #5f5f5f;
}

/* Form Controls */
select,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
textarea{
  font-family: 'Conv_apercu_regular','Helvetica','Sans-Serif','Arial';
  font-size: .875rem;
  padding: .5rem .75rem;
  border: 1px solid #ddd;
  border-radius: .25rem;
  line-height: 1rem !important;
  outline: 0;
  transition: border ease-in-out .1s;
}
input[type="date"]{
  font-size: .75rem;
}
select:hover,
select:focus,
select:active,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="date"]:active,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="email"]:active,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="number"]:active,
textarea{
  border: 1px solid #05acf0;
}
input[type="text"]::placeholder,
textarea{
  font-family: 'Conv_apercu_regular','Helvetica','Sans-Serif','Arial';
  font-size: .875rem;
  color: #5f5f5f;
}
.input__group{
  margin: 1rem 0;
}
.input__group input{
  width: 100%;
}
.input__group label{
  font-size: .875rem;
  margin-bottom: 1rem;
  display: block;
}